@media screen and (min-width:1000px) and (max-width:1377px)  {
    nav ul a{
        font-size: 29pt;
    }
   
    
}
@media screen and (min-width:1378px) and (max-width:1419px)  {
    nav ul a{
        font-size: 35pt;
    }
    
}
@media screen and (min-width:1440px) and (max-width:1636px) {
    nav ul a{
        font-size: 40pt;
    }
    
}
@media screen and (min-width:1680px) and (max-width:1850px) {
    nav ul a{
        font-size: 50pt;
    }
    
}
@media screen and (min-width:1851px) and (max-width:2213px) {
    nav ul a{
        font-size: 57pt;
    }
    
}
@media screen and (min-width:2214px)  {
    nav ul a{
        font-size: 70pt;
    }
    
}