@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;

}

header{
    width: 100vw;
    height: 12vh;
    /* margin:1px; */
    /* border: 3px solid rgb(248, 5, 5); */
    background-color:rgb(0, 0, 0);
    
    box-sizing: border-box;
    border-bottom: 10px solid orange;
    border-top: 10px solid orange;
    /* padding: 10px; */
    position: sticky;
    top:0px;
    z-index: 34;
    
    
}
.banner{
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-attachment: fixed;

    /* height: 18vh; */
    background-color: rgb(0, 0, 0);
}
nav{
    width: 100vw;
    height: 10vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
nav ul a{
    text-decoration: none;
    color: white;
    font-size: 39pt;
    margin-bottom: 3px;
    padding:0px 20px;
    /* font-family: 'Akaya Kanadaka', cursive; */
    font-family: 'Bebas Neue', cursive;
    
}
.container{
    min-height:  100vh;
    
}
nav a:hover{
    color: chartreuse;
    font-weight: 900;
}
.searchbar input{
    height: 30px;
    width: 260px;
    border-radius: 3px;
    font-size: 15pt;
    
}
.searchbar input:focus{
color: #048ac8;

}

.searchbar .SButton {
    width: 40px;
    height: 50px;
    border: 1px solid #6b61bd;
    background: #a9c2c5;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .searchbar button {
      float: right;
      width: 40px;
      height: 37px;
      margin-left: 5px;
      /* padding: 10px; */
      background: #008cffde;
      color: white;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none; /* Prevent double borders */
      cursor: pointer;
      border-radius:5px;
    }
    .searchbar button:hover{
        font-size: 20pt;
        color: black;
        background: #008cff;
        
    }

    /* yhan se main ka content shru ho raha :horizontal */




.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 700px;
  height: 400px;
  margin-right: 10px;
  margin-top: 14px;

  border-radius: 5px;
  counter-increment: gallery-cell;
}


.carousel-cell img{
    width: 100%;
    height: 90%;
}
/* Shopping list yahan se shru hain */
.shopping{

    background-color: #EEE;
    
    margin: 30px 0px 3px 0px;
    height: 700px;
    width: 100vw;
    overflow: scroll;
   
}
.shopContainer{
    display: flex;
    flex-direction: row;

    height: 500px;
    width: 100vw;
    margin-top: 5px;
    overflow:visible;
    justify-content: space-evenly;
    margin-bottom: 50px;


}
.shopContainer2{
    display: flex;
    flex-direction: row;

    height: 500px;
    width: 100vw;
    margin-top: 5px;
    overflow:visible;
    justify-content: space-evenly;


}
.shopping h2{
    text-align: center;
    font-size: 34pt;
text-decoration: underline;
background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
padding: 10px;
border-top: 10px solid rgb(251, 10, 102);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/* position: sticky;
top:0px;
z-index: 100;
    */
}

.shopping .shopContainer .shop{


background-color: white;
width: 320px;
height: 500px;
margin-top: 30px;
/* box-shadow: 20px 20px 20px #aaaaaa; */
text-align: center;
}

.shopping .shopContainer2 .shop2{


background-color: white;
width: 320px;
height: 500px;
margin-top: 30px;
/* box-shadow: 20px 20px 20px #aaaaaa; */
text-align: center;
}

.shopping .shopContainer .shop p{
    margin-top: 30px;
    font-size: 14pt;
}
.shopping .shopContainer2 .shop2 p{
    margin-top: 30px;
    font-size: 14pt;
}
.shopping .shopContainer .shop img{
    height: 60%;
    width: 99%;
}
.shopping .shopContainer2 .shop2 img{
    height: 60%;
    width: 99%;
}
.shopping .shopContainer .shop button{
    margin-top: 30px;
    font-size: 25pt;
    ;
    border-radius: 10px;
    width: 270px;
    height: 50px;
    font-family:'Bebas Neue',sans-serif;
}
.shopping .shopContainer2 .shop2 button{
    margin-top: 30px;
    font-size: 25pt;
    ;
    border-radius: 10px;
    width: 270px;
    height: 50px;
    font-family:'Bebas Neue',sans-serif;
}
.shopping .shopContainer .shop button:hover{
    cursor: pointer;
    box-shadow: 10px 10px 10px #aaaaaa;
    font-size: 27pt;
    font-weight: bolder;
    background-color:gold;

}
.shopping .shopContainer2 .shop2 button:hover{
    cursor: pointer;
    box-shadow: 10px 10px 10px #aaaaaa;
    font-size: 27pt;
    font-weight: bolder;
    background-color:gold;

}
.shop:hover{
    box-shadow: 20px 20px 20px #aaaaaa;
   
   
}
.shop2:hover{
    box-shadow: 20px 20px 20px #aaaaaa;
   
   
}

/* yahan se deals wala section shru hai */
.deals{
    background-color: #EEE;
    width: 100vw;
    height: 500px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}
.CCD{
    background-color: white;
    height: 400px;
    width: 23vw;
    margin-top: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}
#dealItems1 img {
    height: 65%;
    width: 85%;
    margin-top: 10px;


}
#dealItems1 button {
    margin-top: 20px;
    width: 30%;
    height: 30px;
    font-size: 12pt;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgba(255, 140, 0, 0.65);
}
#dealItems1 button:hover {
    width: 32%;
    font-size: 14pt;
    font-weight: bolder;
    cursor: pointer;
    background-color: rgb(255, 140, 0);

}
#dealItems2 button {
    margin-top: 50px;
    width:64%;
    height: 30px;
    font-size: 12pt;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgba(255, 140, 0, 0.65);
    position: relative;
    left:90px;
}
#dealItems2 button:hover {
    width: 68%;
    font-size: 14pt;
    font-weight: bolder;
    cursor: pointer;
    background-color: rgb(255, 140, 0);

}
#dealItems3 button {
    margin-top: 20px;
    width:64%;
    height: 30px;
    font-size: 12pt;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgba(255, 140, 0, 0.65);
    position: relative;
    left:90px;
}
#dealItems3 button:hover {
    width: 68%;
    font-size: 14pt;
    font-weight: bolder;
    cursor: pointer;
    background-color: rgb(255, 140, 0);

}

/* ye item 2of deals ke ander ka container h */
.dealItems2Container{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 300px;
    width: 21vw;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    box-sizing: border-box;
}

.dealItems2Container .r img{
   width: 90%;
   height: 70%;
   margin-bottom: 20px;

}
.r{

    width: 100%;
    height:80%;
    margin-top: 0px;
}
.r p:hover{
    color: red;
    text-decoration: underline;
    text-decoration-color: blue;
    cursor: pointer;

}
.dealItems2Container .r img:hover{
    cursor: pointer;
    border: 1px solid black;

}
/* yahan se naya deal3 shru ho raha hai */
.dealItems3Container{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 300px;
    width: 21vw;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    box-sizing: border-box;
}

.dealItems3Container .r img{
   width: 90%;
   height: 70%;
   margin-bottom: 5px;

}
.r{

    width: 100%;
    height:80%;
    margin-top: 0px;
}
.r p:hover{
    color: red;
    text-decoration: underline;
    text-decoration-color: blue;
    cursor: pointer;

}
.dealItems3Container .r img:hover{
    cursor: pointer;
    border: 1px solid black;

}

.CCD:hover{
  box-shadow: 10px 10px 10px #aaaaaa;

}


/* yahan deal wala section khatam hai */
/* yahan se footer ka content hain bhai */
    footer{
        height: 6vh;
        background-color: black;
        color: white;
        font-family: 'Noto Sans HK', sans-serif;
        font-size: 16pt;
    }
